<p>binding works!</p>
<h3>Interpolation</h3>
<p>{{name}}</p>
<p>{{test}}</p>
<p>{{task.count}}</p>
<p>{{hello.name}}</p>
<p>{{printname()}}</p>
<p>{{word}}</p>
<button (click)=" increasecount()">increse</button>
<p>{{test.count}}</p>

<br>
<br><br>

<h3>property binding</h3>

<img [src]="s" [height]="h" [width]="w">
<br>
<br>
<p [class]="classname">this is TVM infotech</p>
<p bind-class="classname">this is TVM infotech</p>
<br>
<br>
<table>
    <tbody>
        <tr>
            <td [attr.colspan]="5">full data</td>
        </tr>
        <tr>
            <td>data</td>
            <td>data2</td>
            <td>data3</td>
            <td>data4</td>
            <td>data5</td>
        </tr>
    </tbody>
</table>
<br>




<h3>event binding</h3>
<button (click)="clickme()">clickme</button>
<br>
<br>
<button (click)="submit()">submit</button>
<br>
<br>
<h3>two way binding</h3>
<input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<input id="text" [(ngModel)]="welcome">
<p>{{welcome}}</p>