<h3>chain pipe</h3>
<p>{{todayDate | date:'fullDate' | uppercase}}</p>
<br>
<br>
<hr>
<h3>paramerterized pipe</h3>
<p>{{todayDate| date:"short"}}</p>
<p>{{todayDate | date:"long"}}</p>
<br>
<br>
<hr>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Salary</th> 
        <th>DOB</th>  
    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.empId}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.location}}</td>  
        <td>{{employee.salary}}</td> 
        <td>{{employee.dob}}</td>
    </tr>
</table>
<hr>

<h3>date&age</h3>
<h3>{{todayDate | date}}</h3>
<h3>{{todayDate| age}}</h3>
<br>
<br>
<hr>